*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

ul{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

img{
    display: inline-block;
}

span{
    display: inline-block;
}

.container{
    width: 1226px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

:root{
    --display:flex;
}


/* ===============================navigation=========================== */



.lms__wrraper{
    width: 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color:white;
    border:2px solid whitesmoke ;
    transition: 0.3 linear;
}

.active__wrraper{
    width: 200px;
    display: flex;
    align-items: start;
    padding-left: 10px;
}


.lms__navigation_img{
    display: inline-block;
    transform: translate(50px,-40px)
    rotate(180deg);
    transition: 0.3s linear;
}

.active__lms__navigation_img{
    transform: translate(195px,-40px)
    rotate(0deg);
}

.lms__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;    
}

.lms__link{
   padding: 10px;
   display: flex;
   justify-content: start;
   border-radius: 5px;
   align-items: center;
}

.lms__link:hover::before{
    content: '';
    width: 3px;
    position: absolute;
    left: 1px;
    height: 35px;
    border-radius: 8px;
    background-color:green;
}

.lms__link:hover{
    background-color: rgba(139, 139, 139,4%);
}

.lms__link_a{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
}

.lms__link_a__text1{color: black;display: none;}
.lms__link_a__text2{color: black;display: none;}
.lms__link_a__text3{color: black;display: none;}
.lms__link_a__text4{color: black;display: none;}
.lms__link_a__text5{color: black;display: none;}
.lms__link_a__text6{color: black;display: none;}
.lms__link_a__text7{color: black;display: none;}


.active__text1{display: var(--display);}
.active__text2{display: var(--display);}
.active__text3{display: var(--display);}
.active__text4{display: var(--display);}
.active__text5{display: var(--display);}
.active__text6{display: var(--display);}
.active__text7{display: var(--display);}

.logo{
    width: 60px;
    height: 60px;
}



/* ================================================Header=========================================== */

.header__section{
    transition: 0.1s  linear;
}

.active__header{
    padding-left: 14%;
}


.header__wrraper{
    flex: 1;
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content:space-between;
    align-items: center;  
}

.header__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.header__container__group__wrraper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.header__container__davomat__wrraper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header__container__davomat__wrraper__color1{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: green;
}
.header__container__davomat__wrraper__color2{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: red;
}
.header__container__davomat__wrraper__color3{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: yellow;
}

.header__container__davomat__wrraper__text{
    font-size: 15px;
    font-weight: 700;
}


/* ===============================================navbar================================== */

.navbar__section{
    transition: 0.1s linear;
}

.active__navbar{
    padding-left: 14%;
}

.navbar__wrraper{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 0px 10px 0px ;
    border-bottom:1px solid whitesmoke ;
}

.navbar__wrraper__container1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.navbar__wrraper__container2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.navbar__wrraper__container__students_day{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.navbar__wrraper__container__izoh__wrraper{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
    padding: 10px 0px 10px 8px;
    border-left: 1px solid whitesmoke;
}

.navbar__wrraper__container__izoh__wrraper_btn__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.navbar__wrraper__container__izoh__wrraper_btn__container__date{
    color: rgb(0, 81, 255);
    cursor: pointer;
}

.navbar__wrraper__container__izoh__wrraper_btn__container__btn{
    width: 45px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    cursor: pointer;
}

.navbar__wrraper__container__izoh__wrraper_btn__container__btn__rol{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:rgb(167, 161, 161);
    transition: 0.5s linear;
}

.active__rol{
    transform: translate(25px);
}

.navbar__wrraper__container__izoh__wrraper__text{
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}


.navbar__wrraper__container__list{
    display: flex;
    flex-direction: column;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}

.navbar__wrraper__container__list__text{
    font-size: 14px;
    font-weight: 400;
}


/* ===========================================main================================= */

.main__section{
    transition: 0.1s linear;
}

.active__main{
    padding-left: 14%;
}

.main__wrraper{
    padding: 10px 0px 10px 0px;
}

.main__wrraper__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.main__wrraper__list__link{
    width: 430px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__wrraper__list__link_name_wrrpaer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 5px;
    cursor: pointer;
    padding: 0px 15px 0px 0px;
    background-color: whitesmoke;
}

.main__wrraper__list__link_name_wrrpaer__id{
  width: 25px;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  height: 60px;
  border-right: 1px solid rgb(187, 187, 187);
}

.main__wrraper__list__link_name_wrrpaer_name{
    width: 230px;
    font-size: 15px ;
    font-weight: 500;
    color: black;
}

.main__wrraper__list__link_color{
    width: 60px;
    height: 60px;
    background-color: green;
    cursor: pointer;
    border-radius: 10px;
}

.main__wrraper__list__link_comment{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px dashed whitesmoke;
}

.main__wrraper__list__link_comment:hover{
    border: 2px solid whitesmoke;
}
